{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        VoiceWake - Server Error
    </title>
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block base_app %}
{% endblock %}

{% block content %}

    <div class="py-8 flex flex-col text-center">
        <h1 class="text-6xl pb-8">VoiceWake</h1>
        <h2 class="text-4xl pb-5">Server Error</h2>
        <h3 class="text-lg">Oops, our server is having issues. Come back later once it's fixed!</h3>
    </div>
{% endblock %}