<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
    <title>{% block title %}My Site{% endblock %}</title>

    <!--user-->
    {{user.username | json_script:"data-username"}}

</head>

{% load static %}

{% block body %}

    <!--nav-->
    <div id="nav-bar-app" class="fixed w-full h-[4.5rem] top-0 z-50"></div>

    <body class="h-screen pt-[4.5rem] overflow-x-hidden overflow-y-scroll bg-theme-light">

        <div class="md:w-2/4 lg:w-3/6 xl:w-2/6 mx-auto h-full bg-theme-light text-left text-lg px-[5%]">
            {% block content %}
            {% endblock %}
        </div>

        <link rel="stylesheet" href="{%static 'css/output.css' %}"/>

        <!--Vue-->
        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>

        <!--importing separate styles is slightly more performant than all.css, as per docs-->
        <!--if you want to use fa-regular, import fontawesomefree/css/regular.css, etc.-->
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">
    </body>
{% endblock %}

{% block footer %}

    <div class="h-60 bg-theme-light">

    </div>
{% endblock %}
</html>


<script>

    //prevent scrolling on spacebar without disabling input space
    window.addEventListener('keydown', (event) => {
        if(event.keyCode === 32 && event.target === document.body){
            event.preventDefault();
        }
    });

</script>