<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Site{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <link
        href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
        rel="stylesheet"
        type="text/css"
    />


    {% load static %}
    <link rel="stylesheet" href="{%static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{%static 'css/bulma/css/bulma.css' %}"/>
    <script src="{%static 'js/base.js' %}"></script>

</head>

<body>
    {%block navbar%}
    <div class="columns is-half-desktop">
        <div class="column">1</div>
        <div class="column">2</div>
    </div>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="logo">
                <a href="#" class="nav-link">
                    <img src="{%static "svg/wave-square-solid.svg"%}" alt="voicewake home"></img>
                    <span class="link-text logo-text">VoiceWake</span>
                </a>
            </li>
            <li class="nav-item is-half-desktop">
                <a href="#" class="nav-link">
                    <img src="{%static "svg/microphone-slash-solid.svg"%}" alt="create listening schedule"></img>
                    <span class="link-text">Create</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <img src="{%static "svg/microphone-slash-solid.svg"%}" alt="fulfill schedule"></img>
                    <span class="link-text">Seek</span>
                </a>
            </li>
        </ul>
    </nav>
    {%endblock%}

    {%block content%}
    {%endblock%}
</body>
</html>