<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}
    <title>{% block title %}My Site{% endblock %}</title>

</head>

{% load static %}

{% block body %}
    <body class="w-full bg-theme-light text-black font-sans">

        {% block navbar %}

            <div id="app" class="sticky top-0"></div>

        {% endblock %}

        {% block content %}

        {% endblock %}

        {% comment %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
        <link
            href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet"
            type="text/css"
        />
        <script src="{%static 'js/base.js' %}"></script>
        {% endcomment %}

        <link rel="stylesheet" href="{%static 'css/output.css' %}"/>

        <!--Vue-->
        <script type="text/javascript" src="{% static 'src/vue/dist/js/chunk-vendors.js' %}"></script>
        <script type="text/javascript" src="{% static 'src/vue/dist/js/app.js' %}"></script>

        <!--importing separate styles is slightly more performant than all.css, as per docs-->
        <!--if you want to use fa-regular, import fontawesomefree/css/regular.css, etc.-->
        <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'fontawesomefree/css/regular.css' %}" rel="stylesheet" type="text/css">



    </body>
{% endblock %}
</html>