{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        VoiceWake - Two people saying things.
    </title>
    <meta name="description" content="VoiceWake - Start an event, or reply in events to complete them.">
{% endblock %}

{% block content %}

    <!--backdrop and title-->
    <div class="w-full h-fit relative">

        <!--backdrop-->
        <div id="v-backdrop-anime-target" class="absolute w-full h-full -z-10 pb-14"></div>

        <!--title-->
        <!--needs padding for more area to smoothen the transparent part, the bigger the better, else a faint cutoff/border is visible-->
        <div class="w-fit h-fit mx-auto px-4 sm:px-8 py-8 flex items-center rounded-lg bg-gradient-radial from-theme-light to-transparent">
            <div class="text-center">
                <h1 class="text-5xl h-fit break-words">
                    <span>VoiceWake</span>
                </h1>
                <h2 class="text-xl font-medium h-fit break-words">
                    <span>Two people saying things.</span>
                </h2>
            </div>
        </div>
    </div>

    <div id="browse-events-app"></div>
{% endblock %}