{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        You Are Banned
    </title>
    <meta name="description" content="Your banned recordings.">
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}

    <div
        data-banned-until="{{banned_until|date:"Y-m-d H:i:s"}}"
        id="data-container-user-banned-audio_clips"
    >

        <!--follows VTitle-->
        <div>
            <div class="pt-3"></div>
            <!--top respects nav bar height-->
            <!--z-index to prevent overlap from vue-virtual-scroller-->
            <h1 class="text-4xl py-5 text-center h-fit break-words sticky top-[4.5rem] z-[1] bg-theme-light dark:bg-theme-dark">
                Banned
            </h1>
            <h2 class="text-lg text-center">
                <span class="banned-until">You are banned</span>
            </h2>
            <h3 class="text-base text-center">
                Sorted by most recent:
            </h3>
            <div class="pt-8"></div>

            <div id="list-user-banned-audio-clips-app"></div>
        </div>
    </div>
{% endblock %}