{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        User: {{ user_profile_username }}
    </title>
    <meta name="description" content="User page for {{ user_profile_username }}">
{% endblock %}

{% block content %}

    <div
        data-user-profile-username="{{user_profile_username}}"
        data-is-own-profile="{{is_own_profile}}"
        data-is-blocked="{{is_blocked}}"
        id="data-container-get-user-profile"
    >

        <div id="get-user-profile-app"></div>
    </div>
{% endblock %}