{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        You Are Banned
    </title>
    <meta name="description" content="Your banned recordings, sorted by most recent.">
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}

    <div
        data-banned-until="{{banned_until|date:"Y-m-d H:i:s"}}"
        id="data-container-user-banned-events"
    >

        <!--follows VTitle-->
        <div class="py-8 text-center">
            <i class="text-2xl fas fa-gavel" aria-hidden="true"></i>
            <h1 class="text-4xl h-fit break-words">
                Banned
            </h1>
            <h2 class="text-xl font-medium h-fit break-words">
                You are banned&nbsp;<span class="banned-until"></span>
            </h2>
            <h3 class="pt-5 text-lg text-center">
                Your banned recordings, sorted by most recent.
            </h3>
        </div>

        <div id="list-user-banned-events-app"></div>
    </div>
{% endblock %}