{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        VoiceWake - Block List
    </title>
    <meta name="description" content="Users you've blocked cannot reply to your audio_clips.">
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}

    <div>

        <!--follows VTitle-->
        <div class="py-8 text-center">
            <i class="text-2xl fas fa-ban" aria-hidden="true"></i>
            <h1 class="text-4xl h-fit break-words">
                Block List
            </h1>
            <h2 class="pt-5 text-lg text-center">
                Users you've blocked cannot reply to your audio_clips.
            </h2>
        </div>

        <div id="list-user-blocks-app"></div>
    </div>
{% endblock %}