{% extends 'voicewake/base.html' %}
{% block title %}{{ user_profile_username }}{% endblock %}

{% block content %}

    {% csrf_token %}
    <h1 class="h-fit py-8 break-words text-4xl text-theme-black">
        <div class="flex flex-col">
            <i class="fas fa-user block text-2xl w-full text-center"></i>
            <span class="block w-full text-center">{{ user_profile_username }}</span>
        </div>
    </h1>

    <div
        data-user-profile-username="{{user_profile_username}}"
        id="data-container-get-user-profile"
    >

        <div id="get-user-profile-app"></div>
    </div>
{% endblock %}