{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        VoiceWake - Following
    </title>
    <meta name="description" content="Your favourite users.">
    <meta name="robots" content="noindex,nofollow">
{% endblock %}

{% block content %}

    <div>
        <!--follows VTitle-->
        <div>
            <div class="pt-3"></div>
            <!--top respects nav bar height-->
            <!--z-index to prevent overlap from vue-virtual-scroller-->
            <h1 class="text-4xl py-5 text-center h-fit break-words sticky top-[4.5rem] z-[1] bg-theme-light dark:bg-theme-dark">
                Following
            </h1>
            <h2 class="text-lg text-center">
                Your favourite users.
            </h2>
            <h3 class="text-base text-center">
                Sorted by A to Z:
            </h3>
            <div class="pt-8"></div>

            <div id="list-user-follows-app"></div>
        </div>
    </div>
{% endblock %}