SECRET_KEY = django-insecure-hdgs8@4nxkx0du^2n-gdss(!eo6i0kj6vk=gx1mddc@g=6h_^1
MAINTENANCE_MODE = 0

DB_NAME = voicewake
DB_USER = postgres
DB_PASSWORD = localhost
DB_HOST = localhost
DB_PORT = 5432
