/*put these here so tailwind can listen*/
/*ignore syntax error, they are a non-issue*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*enable this to troubleshoot css errors*/
/* * {
    outline: 1px solid #f00 !important;
} */

/*fonts*/
/*
    edge cases:
        -<FontAwesomeIcon/> placed in absolute element, with parent having this font applied
            -see VPlayback's volume button
            -problem: shifting, not dead-centered, <svg> having extra space
            -solution, apply to <FontAwesomeIcon/>: vertical-align: middle; display: block;
    usage:
        -for things with maximum readability, e.g. VNotiwind, no need to use this font
*/
@font-face {
    font-family: 'Dongle';
    src: url('../fonts/Dongle-Regular.woff2') format('woff2'),
        url('../fonts/Dongle-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.pretty-font {
    font-family: 'Dongle';
    text-underline-position: from-font;
}

/*since we use placeholders for label, make them more visible*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(100, 100, 100) !important;
    opacity: 1 !important; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(100, 100, 100) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(100, 100, 100) !important;
}

/*
FOCUS AND FOCUS-VISIBLE
    focus:outline-none focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2

    for Chrome, or maybe other browsers too, input/textarea always has focus & focus-visible together
        no fix for this, not even !important
*/


/*
NAMING STANDARDS
    for ref, use "ref_name", so we can do this.$refs.ref_name with no issue
    for functions, use "functionName"
    for props, use "propName"
    for emit, use "hasClick"

    for data and variables, use "variable_name"
    for column names from data source, expect "col_name"

    for custom directives, css classes, etc., use "the-name"


Z-INDEX
    nav bar, z-50
    VueVirtualScroller, z-0 by default
    sticky page titles, z-[1]
    floating drop-down menu, z-20
    floating drop-down menu arrow, z-30
    anything on top of everything else, z-10
    everything else, nothing, i.e. z-0 by default

FONT SIZES
    big page title, text-5xl
    big page title context, text-3xl
    main page title, text-2xl
    main page title context, text-base font-light
    main page title when many pages, text-xl
    main page title when many pages, text-base font-light
    label for input, be noticeable but smaller than main input, so text-lg font-medium
    input, text-lg
    input text, text-lg
    main text, text-lg
    dialog text, i.e. section title, text-xl font-medium
    section title context, text-base
    action text, text-lg font-medium
    form labels, text-base font-medium
    form label subtext, text-base
    details, if important, text-base font-medium
    details, text-base
    main action, text text-2xl, icon text-4xl
    normal action, text text-base font-medium, icon text-2xl

FONT TYPES
    if text is not from user, use formal font
    if text is from user, use casual font

BUTTON SIZES
    biggest page button, h-24, text-4xl icons, text-2xl text
    component main button, h-20, text-4xl icons, text-2xl text
    component small buttons, h-10, text-2xl icons, text-xl text
    component smallest buttons, h-10, text-xl

INPUT SIZES (may change according to font size)
    textarea, h-10 p-2 pt-1
    input, h-10

GAPS
    big page title, py-10
    page title, pb-8
    page title, when many, pb-6
    related main items, gap-6
    page main button, mt-8
    related items, gap-2
    form items, gap-4
    form label, mb-1

GRAY
    least attention-seeking, e.g. border, light-gray
    obvious attention-seeking, dark-gray
    hover and seek attention, medium-gray/50
    hover and seek attention that is already gray, medium-gray/50 + scale

OPACITY
    if want to signify disabled, use opacity-10, i.e. until element is unreadable

TIPS
    if you want to center passed text in a component, e.g. button, with its own properties, do it like so:
        <MyComponent class="flex items-center">//vertical
            <span class="text-base font-medium mx-auto"></span>//horizontal
        </MyComponent>


*/


/*Vite build does not bundle CSS imports*/
/*vue-virtual-scroller/dist/vue-virtual-scroller.css*/
.vue-recycle-scroller{position:relative}.vue-recycle-scroller.direction-vertical:not(.page-mode){overflow-y:auto}.vue-recycle-scroller.direction-horizontal:not(.page-mode){overflow-x:auto}.vue-recycle-scroller.direction-horizontal{display:flex}.vue-recycle-scroller__slot{flex:auto 0 0}.vue-recycle-scroller__item-wrapper{flex:1;box-sizing:border-box;overflow:hidden;position:relative}.vue-recycle-scroller.ready .vue-recycle-scroller__item-view{position:absolute;top:0;left:0;will-change:transform}.vue-recycle-scroller.direction-vertical .vue-recycle-scroller__item-wrapper{width:100%}.vue-recycle-scroller.direction-horizontal .vue-recycle-scroller__item-wrapper{height:100%}.vue-recycle-scroller.ready.direction-vertical .vue-recycle-scroller__item-view{width:100%}.vue-recycle-scroller.ready.direction-horizontal .vue-recycle-scroller__item-view{height:100%}.resize-observer[data-v-b329ee4c]{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;border:none;background-color:transparent;pointer-events:none;display:block;overflow:hidden;opacity:0}.resize-observer[data-v-b329ee4c] object{display:block;position:absolute;top:0;left:0;height:100%;width:100%;overflow:hidden;pointer-events:none;z-index:-1}


/*scroll bar*/
::-webkit-scrollbar{
	width: 12px;
}
::-webkit-scrollbar-track-piece{
	background-color: theme(colors.theme-gray-2);
}
::-webkit-scrollbar-thumb{
	background-color: theme(colors.theme-black);
}
.dark ::-webkit-scrollbar-track-piece{
	background-color: theme(colors.dark-theme-black-1);
}
.dark ::-webkit-scrollbar-thumb{
	background-color: theme(colors.dark-theme-white-2);
}

/*before_footer_mountain*/
#before-footer-mountain > .layer-0 {
    fill:#90A955;
}
#before-footer-mountain > .layer-1 {
    fill:#50772E;
}
#before-footer-mountain > .layer-2 {
    fill:#30582C;
}
.dark #before-footer-mountain .layer-0 {
    fill:#13170e;
}
.dark #before-footer-mountain .layer-1 {
    fill:#141a0d;
}
.dark #before-footer-mountain .layer-2 {
    fill:#141c0d;
}

/* remove highlight on tap */
button, a, div {
    -webkit-tap-highlight-color: transparent;
}

textarea {
    resize: none;
}

/*
    use these fonts for emojis themselves to ensure proper rendering
    https://github.com/joeattardi/picmo/issues/242
*/
.has-emoji{
    /*removed "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", because they force their emojis downwards*/
    font-family: "Apple Color Emoji", "Twemoji Mozilla",
    "Noto Color Emoji", "EmojiOne Color", "Android Emoji"
}

/*skeleton*/
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
.skeleton {
    position: relative;
    overflow: hidden;
    opacity: 1;
    background-color: theme(colors.theme-gray-1);
}
.dark .skeleton {
    position: relative;
    overflow: hidden;
    opacity: 1;
    background-color: theme(colors.dark-theme-gray-1);
}
.skeleton::after {
    position: absolute;
    width: 200%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        /*for opacity, do it like #facc15xx, (00...99...FF lowest to highest)*/
        /*last colour must not have coma symbol, else it breaks*/
        theme(colors.transparent),
        theme(colors.theme-gray-3),
        theme(colors.transparent)
    );
    animation: shimmer 1s infinite linear;
    content: '';
}
.dark .skeleton::after {
    position: absolute;
    width: 200%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        /*for opacity, do it like #facc15xx, (00...99...FF lowest to highest)*/
        /*last colour must not have coma symbol, else it breaks*/
        theme(colors.transparent),
        theme(colors.dark-theme-gray-3),
        theme(colors.transparent)
    );
    animation: shimmer 1s infinite linear;
    content: '';
}

/*progress bar*/
.progress-bar {
    position: relative;
    overflow: hidden;
    opacity: 1;
}
@keyframes progress-bar {
    100% {
        /*every 100% is .laser::after's own width*/
        /*e.g. if laser::after's width is 10% of full width, 100% here is that mere 10%, 1000% is 100%*/
        transform: translateX(1000%);
    }
}
.progress-bar::after {
    position: absolute;
    width: 10%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    /*for background-color, can do "after:bg-theme-lead/20"*/
    animation: progress-bar 1s infinite linear;
    content: '';
}

/*pulse audio clip selected*/
/*visibility here is needed to prevent first-time jolt or starting too early (both not intentional)*/
/*0% keyframe is to prevent pixelated circle if it were to truly start from scale(0)*/
.audio-clip-selected-pulse-1 {
    animation: slow-pulse 3s infinite linear;
    animation-delay: 0s;
    transform-origin: center;
    visibility: hidden;
}
.audio-clip-selected-pulse-2 {
    animation: slow-pulse 3s infinite linear;
    animation-delay: 1s;
    transform-origin: center;
    visibility: hidden;
}
.audio-clip-selected-pulse-3 {
    animation: slow-pulse 3s infinite linear;
    animation-delay: 2s;
    transform-origin: center;
    visibility: hidden;
}
@keyframes slow-pulse {
    0% {
        visibility: visible;
        opacity: 0;
        transform: scale(0.4);
    }
    1% {
        visibility: visible;
        opacity: 1;
        transform: scale(0);
    }
    100% {
        visibility: visible;
        opacity: 0;
        transform: scale(1);
    }
}

canvas {
    /* all four are needed to support the most browsers */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/*prevent autocomplete from applying its own css*/
/*https://stackoverflow.com/a/69364368*/
input:-webkit-autofill,
input:-webkit-autofill:focus{
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted]{
    background-color: transparent !important;
}



@media(hover: hover){

    /*
    this is for buttons that don't look like buttons
    also use rounded-md
    */

    /*borders, on hover/active, from gray-2 to gray-4*/
    /*bg, on hover/active, from gray-1 to gray-3*/
    .shade-border-when-hover:hover{
        border-color: theme(colors.theme-gray-4);
    }
    .dark .shade-border-when-hover:hover{
        border-color: theme(colors.dark-theme-gray-4);
    }
    .parent-trigger-shade-fake-border-when-hover:hover .shade-fake-border-when-hover{
        background-color: theme(colors.theme-gray-4);
    }

    .border-solid-when-hover:hover{
        border-style: solid;
    }
    .double-width-when-hover:hover{
        transform: scaleX(2);
    }
    .double-height-when-hover:hover{
        transform: scaleY(2);
    }

    .action-hover:hover{
        background-color: theme(colors.theme-gray-1);
    }
    .dark .action-hover:hover{
        background-color: theme(colors.dark-theme-gray-1);
    }

    .action-special-hover:hover{
        background-color: #FFF2C0;
    }
    .dark .action-special-hover:hover{
        background-color: #ffe680;
    }

    .action-danger-hover:hover{
        background-color: #b91c1c;  /*bg-red-700*/
    }
    /*cannot use text-decoration, due to the nature of SVGs*/
    .action-text-hover:hover{
        background-color: theme(colors.theme-gray-1);
    }
    .dark .action-text-hover:hover{
        background-color: theme(colors.dark-theme-gray-1);
    }

    .darken-when-hover:hover{
        filter: brightness(0.90);
    }

    /*triggers from parent to all descendants that have classes above*/
    .parent-trigger-double-width-when-hover:hover .double-width-when-hover{
        transform: scaleX(2);
    }
    .parent-trigger-double-height-when-hover:hover .double-height-when-hover{
        transform: scaleY(2);
    }
}