{% extends 'voicewake/base.html'%}

{% block extra_head %}
    <title>
        VoiceWake - Start Event
    </title>
    <meta name="description" content="Start an event with your recording for someone to reply to.">
{% endblock %}

{% block content %}

    <!--follows VTitle-->
    <h1 class="h-fit pretty-font py-8 break-words text-4xl">
        <div class="flex flex-col">
            <!--need h-6, i.e. svg size, to prevent jolt-->
            <div id="create-events-header-logo" class="flex flex-col text-center text-2xl h-6"></div>
            <h1 class="block w-full text-center">Start</h1>
        </div>
    </h1>

    <div id="create-events-app"></div>
{% endblock %}