{% extends 'voicewake/base.html'%}

{% block extra_head %}
    <title>
        {{event.event_name}}
    </title>
    <meta name="description" content="{{ event.event_name }}">

    {% if is_deleted %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}
{% endblock %}

{% block content %}

    <!--
        use id to get to when-created element
        we load '1 Jan 2022' here first, then at JS we make it pretty to '1 century ago'
        shouldn't have to adjust '1 Jan 2022' to local timezone, as it's only for SEO
        we also use "c" instead of "Y-m-d H:i:s" below for ISO 8601 format, else it shows wrong time difference at frontend when calculated with UTC
    -->
    {% if is_reupload %}
        <div
            data-event-id="{{event.id}}"
            data-when-created="{{event.when_created|date:'c'}}"
            data-event-reply-choice-expiry-seconds="{{event_reply_choice_expiry_seconds}}"
            data-event-reply-expiry-seconds="{{event_reply_expiry_seconds}}"
            data-audio-clip-unprocessed-expiry-seconds="{{audio_clip_unprocessed_expiry_seconds}}"
            data-is-deleted="{{is_deleted_json}}"
            data-audio-clip-count="{{audio_clip_count_json}}"
            data-reupload-audio-clip-id="{{reupload_audio_clip_id_json}}"
            data-reupload-audio-clip-role-name="{{reupload_audio_clip_role_name}}"
            data-reupload-audio-clip-tone-id="{{reupload_audio_clip_tone_id}}"
            data-reupload-audio-clip-tone-name="{{reupload_audio_clip_tone_name}}"
            data-reupload-audio-clip-tone-slug="{{reupload_audio_clip_tone_slug}}"
            data-reupload-audio-clip-tone-symbol="{{reupload_audio_clip_tone_symbol}}"
            id="data-container-get-events"
        >
    {% else %}
        <div
            data-event-id="{{event.id}}"
            data-when-created="{{event.when_created|date:'c'}}"
            data-event-reply-choice-expiry-seconds="{{event_reply_choice_expiry_seconds}}"
            data-event-reply-expiry-seconds="{{event_reply_expiry_seconds}}"
            data-audio-clip-unprocessed-expiry-seconds="{{audio_clip_unprocessed_expiry_seconds}}"
            data-is-deleted="{{is_deleted_json}}"
            id="data-container-get-events"
        >
    {% endif %}

        <!--follows VTitle-->
        <h1 class="h-fit pt-10 pb-5">
            {% if is_deleted %}
                <p class="text-lg italic dark:text-dark-theme-white-1">
                    Event and original recording deleted.
                </p>
            {% else %}
                <!--title-->
                <p id="event-name" class="text-lg break-words dark:text-dark-theme-white-1">
                    {{event.event_name}}
                </p>
                <!--when_created-->
                <p id="event-when-created" class="text-sm">
                    {{event.when_created|date:"j M Y"}}
                </p>
            {% endif %}
        </h1>

        <!--the rest of the content-->
        <div id="get-events-app"></div>
    </div>

{% endblock %}