{% extends 'voicewake/base.html'%}

{% block extra_head %}
    <title>
        {% if is_this_user_replying %}
            You Are Replying: {{event.event_name}}
        {% else %}
            AudioClip: {{event.event_name}}
        {% endif %}
    </title>
    <meta name="description" content="{{ event.event_name }}">

    {% if is_deleted %}
        <meta name="robots" content="noindex,nofollow">
    {% endif %}
{% endblock %}

{% block content %}

    <!--
        use id to get to when-created element
        we load '1 Jan 2022' here first, then at JS we make it pretty to '1 century ago'
        shouldn't have to adjust '1 Jan 2022' to local timezone, as it's only for SEO
    -->
    <div
        data-event-id="{{event.id}}"
        data-is-deleted="{{is_deleted_json}}"
        data-when-created="{{event.when_created|date:"Y-m-d H:i:s"}}"
        data-audio-clip-count="{{audio_clip_count}}"
        data-is-this-user-replying="{{is_this_user_replying_json}}"
        data-event-reply-choice-expiry-seconds="{{event_reply_choice_expiry_seconds}}"
        data-event-reply-expiry-seconds="{{event_reply_expiry_seconds}}"
        id="data-container-get-events"
    >

        <!--follows VTitle-->
        <h1 class="h-fit py-10">
            {% if is_deleted %}
                <p class="text-lg italic">
                    Event and original recording deleted.
                </p>
            {% else %}
                <!--title-->
                <p class="text-lg break-words">
                    {{event.event_name}}
                </p>
                <!--last updated-->
                <p class="when-created      text-sm">
                    {{event.when_created|date:"j M Y"}}
                </p>
            {% endif %}
        </h1>

        <!--the rest of the content-->
        <div id="get-events-app"></div>
    </div>

{% endblock %}