{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        VoiceWake - Log In
    </title>
    <meta name="description" content="Log in and rejoin the fun!">
{% endblock %}

{% block content %}

    <!--backdrop and title-->
    <div class="w-full h-fit relative">

        <!--title-->
        <!--play with "to-x%" until the edges at div is smooth, and not stopped abruptly-->
        <div class="w-fit h-fit mx-auto px-2 pt-10 pb-4 flex flex-col items-center rounded-full bg-gradient-radial from-theme-light dark:from-theme-dark from-0% to-70%">
            <h1 class="text-4xl h-fit break-words">
                Log in
            </h1>
        </div>
    </div>

    <div id="log-in-page"></div>
{% endblock %}