{% extends 'voicewake/base.html' %}

{% block extra_head %}
    <title>
        VoiceWake - Sign Up
    </title>
    <meta name="description" content="Sign up to start and complete events.">
{% endblock %}

{% block content %}

    <!--backdrop and title-->
    <div class="w-full h-fit relative">

        <!--backdrop-->
        <div id="v-backdrop-anime-target" class="absolute w-full h-full -z-10 pb-14"></div>

        <!--title-->
        <!--play with "to-x%" until the edges at div is smooth, and not stopped abruptly-->
        <div class="w-fit h-fit mx-auto px-4 sm:px-8 py-8 flex flex-col items-center text-center rounded-full bg-gradient-radial from-theme-light dark:from-theme-dark from-0% to-70%">
            <h1 class="text-5xl h-fit break-words">
                <span>Voicewake</span>
            </h1>
            <h2 class="text-4xl h-fit break-words">
                <span>Sign up</span>
            </h2>
        </div>
    </div>

    <div id="sign-up-page"></div>
{% endblock %}