/*put these here so tailwind can listen*/
/*ignore syntax error, they are a non-issue*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*enable this to troubleshoot css errors*/
/* * {
    outline: 1px solid #f00 !important;
  } */

/*this is to save vertical space via hiding labels, while still readable to screen readers*/
.hide-but-readable {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/*since we use placeholders for label, make them more visible*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(160, 160, 160) !important;
    opacity: 1 !important; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(100, 100, 100) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(24,24,24) !important;
}

/*
    FONT STANDARDS
current hierarchy of text sizes
form title is text-3xl
form input label is text-xl
form input is text-lg
form miscellaneous, e.g. character counter and input status text, is text-sm
*/

/*
    NAMING STANDARDS
    for ref, use "ref_name", so we can do this.$refs.ref_name with no issue
    for functions, use "functionName"
    for props, use "propName"
    for emit, use "hasClick"

    for data and variables, use "variable_name"
    for column names from data source, expect "col_name"

    for custom directives, css classes, etc., use "the-name"


    Z-INDEX
    nav bar, z-50
    anything on top of everything else, z-10
    everything else, nothing, i.e. z-0 by default

    FONT SIZES
    main title, text-4xl
    label for input, text-2xl
    input, text-xl
    details, text-base

    BUTTON SIZES
    biggest page button, h-?
    component main button, h-20
    component smaller buttons, h-?

*/

/*
    TO-DO
    -style highlight colour
    -style focus
*/

textarea {
    resize: none;
}

