/*put these here so tailwind can listen*/
/*ignore syntax error, they are a non-issue*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*enable this to troubleshoot css errors*/
/* * {
    outline: 1px solid #f00 !important;
} */

/*fonts*/
/* @font-face {
    font-family: fun-font;
    src: url(Dongle-Regular.ttf);
}
.fun-font {
    font-family: fun-font;
    font-size: 2rem;
} */

/*since we use placeholders for label, make them more visible*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(100, 100, 100) !important;
    opacity: 1 !important; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(100, 100, 100) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(100, 100, 100) !important;
}

/*
FOCUS AND FOCUS-VISIBLE
    focus:outline-none focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2

    for Chrome, or maybe other browsers too, input/textarea always has focus & focus-visible together
        no fix for this, not even !important
*/


/*
NAMING STANDARDS
    for ref, use "ref_name", so we can do this.$refs.ref_name with no issue
    for functions, use "functionName"
    for props, use "propName"
    for emit, use "hasClick"

    for data and variables, use "variable_name"
    for column names from data source, expect "col_name"

    for custom directives, css classes, etc., use "the-name"


Z-INDEX
    nav bar, z-50
    anything on top of everything else, z-10
    everything else, nothing, i.e. z-0 by default

FONT SIZES
    big page title, text-5xl
    big page title context, text-3xl
    main page title, text-2xl
    main page title context, text-base font-light
    main page title when many pages, text-xl
    main page title when many pages, text-base font-light
    label for input, be noticeable but smaller than main input, so text-lg font-medium
    input, text-lg
    input text, text-lg
    main text, text-lg
    dialog text, i.e. section title, text-xl font-medium
    section title context, text-base
    action text, text-lg font-medium
    form labels, text-base font-medium
    form label subtext, text-base
    details, if important, text-base font-medium
    details, text-base
    main action, text text-2xl, icon text-4xl
    normal action, text text-base font-medium, icon text-2xl

FONT TYPES
    if text is not from user, use formal font
    if text is from user, use casual font

BUTTON SIZES
    biggest page button, h-24, text-4xl icons, text-2xl text
    component main button, h-20, text-4xl icons, text-2xl text
    component small buttons, h-10, text-2xl icons, text-xl text
    component smallest buttons, h-10, text-xl

INPUT SIZES (may change according to font size)
    textarea, h-10 p-2 pt-1
    input, h-10

GAPS
    big page title, py-10
    page title, pb-8
    page title, when many, pb-6
    related main items, gap-6
    page main button, mt-8
    related items, gap-2
    form items, gap-4
    form label, mb-1

GRAY
    least attention-seeking, e.g. border, light-gray
    obvious attention-seeking, dark-gray
    hover and seek attention, medium-gray/50
    hover and seek attention that is already gray, medium-gray/50 + scale

OPACITY
    if want to signify disabled, use opacity-10, i.e. until element is unreadable

TIPS
    if you want to center passed text in a component, e.g. button, with its own properties, do it like so:
        <MyComponent class="flex items-center">//vertical
            <span class="text-base font-medium mx-auto"></span>//horizontal
        </MyComponent>


*/


/*scroll bar*/
/*colours follow VActionTextOnly*/
::-webkit-scrollbar{
	width: 14px;
}
::-webkit-scrollbar-track-piece{
	background-color: #e7e5e4;    /*theme-light-gray*/
}
::-webkit-scrollbar-thumb{
	background-color: #444444;      /*theme-black*/
}
::-webkit-scrollbar-thumb:hover{
	background-color: rgba(168, 162, 158, 1);  /*same as shade-text-when-hover*/
}



button, a, div {
    -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

textarea {
    resize: none;
}

/*
    use these fonts for emojis themselves to ensure proper rendering
    https://github.com/joeattardi/picmo/issues/242
*/
.has-emoji{
    font-family: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla",
    "Noto Color Emoji", "EmojiOne Color", "Android Emoji"
}

/*skeleton*/
.skeleton {
    position: relative;
    overflow: hidden;
    opacity: 1;
    background-color: #e7e5e4;
}
@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
.skeleton::after {
    position: absolute;
    width: 200%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        /*for opacity, do it like #facc15xx, (00...99...FF lowest to highest)*/
        /*last colour must not have coma symbol, else it breaks*/
        #e7e5e400,
        #d6d3d1,
        #e7e5e400
    );

    animation: shimmer 1s infinite linear;
    content: '';
}




@media(hover: hover){

    /*
    this is for buttons that don't look like buttons
    also use rounded-md
    */

    /*from theme-black to theme-dark-gray*/
    .shade-text-when-hover:hover{
        color: rgba(168, 162, 158, 1);
    }
    .shade-background-when-hover:hover{
        background-color: #d6d3d1;
    }
    .shade-border-when-hover:hover{
        border-color: rgba(168, 162, 158, 1);
    }
    .border-solid-when-hover:hover{
        border-style: solid;
    }
    .double-width-when-hover:hover{
        transform: scaleX(2);
    }
    .double-height-when-hover:hover{
        transform: scaleY(2);
    }
    .nav-burger-when-hover:hover > .nav-burger-line{
        background-color: rgba(168, 162, 158, 1);
    }

    /*triggers from parent to all descendants that have classes above*/
    .parent-trigger-double-width-when-hover:hover .double-width-when-hover{
        transform: scaleX(2);
    }
    .parent-trigger-double-height-when-hover:hover .double-height-when-hover{
        transform: scaleY(2);
    }
    .parent-trigger-shade-fake-border-when-hover:hover .shade-fake-border-when-hover{
        background-color: rgba(168, 162, 158, 1);
    }
    .parent-trigger-shade-background-when-hover:hover .shade-background-when-hover{
        background-color: #d6d3d1;
    }
}