{% extends 'voicewake/base.html'%}
{% block title %}DJ KHALED{% endblock %}


{% block content %}
<div>

    <br>
    <audio id="audio_playback" controls></audio>
    <br>
    <button type="button" id="start_recording_btn" class="btn btn-danger">RECORD</button>
    <br>
    <br>
    <div id="start_recording">
        <button type="button" id="pause_resume_recording_btn" class="btn btn-danger">PAUSE OR RESUME</button>
        <button type="button" id="stop_recording_btn" class="btn btn-danger">DONE</button>
    </div>
    <br>
    <form>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" id="submit_recording_btn" class="btn btn-danger" value="SEND" disabled></input>
    </form>

    <br>
    <br>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/RecordRTC/5.6.2/RecordRTC.js"></script>
<script>

    let audio_playback = document.getElementById('audio_playback');

    let start_recording_btn = document.getElementById('start_recording_btn');
    let pause_resume_recording_btn = document.getElementById('pause_resume_recording_btn');
    let stop_recording_btn = document.getElementById('stop_recording_btn');

    let audio_file_upload = document.getElementById('id_audio_file_upload');
    let submit_recording_btn = document.getElementById('submit_recording_btn');
    
    //with recordRTC instance, we use function arg passing and manual 'recorder' assigning
    //to precisely track a single recorder instance
    let recorder;

    //webm, despite being able to contain video media, is seamlessly handled by <audio>
    const max_audio_file_size_mb = 200;
    const audio_file_extensions_allowed = ['webm', 'mp3', 'aac'];
    const max_recording_duration_ms = 3000;

    //start recording
    async function recorder_start(){

        let stream;

        try{

            stream = await navigator.mediaDevices.getUserMedia({video: false, audio: true});

        }catch(error){

            switch(error.name){

                case 'NotFoundError':
                    console.log('No input device detected.');
                    break;

                default:
                    console.log(error.name);
                    console.log(error.message);
                    break;
            }

            return null;
        }

        //https://github.com/muaz-khan/RecordRTC
        //note that RecordRTC uses Promise in some parts
        recorder = RecordRTC(stream, {
    
            // audio, video, canvas, gif
            type: 'audio',
        
            // audio/webm
            // audio/webm;codecs=pcm
            // video/mp4
            // video/webm;codecs=vp9
            // video/webm;codecs=vp8
            // video/webm;codecs=h264
            // video/x-matroska;codecs=avc1
            // video/mpeg -- NOT supported by any browser, yet
            // audio/wav
            // audio/ogg  -- ONLY Firefox
            // demo: simple-demos/isTypeSupported.html
            mimeType: 'audio/webm',
        
            // MediaStreamRecorder, StereoAudioRecorder, WebAssemblyRecorder
            // CanvasRecorder, GifRecorder, WhammyRecorder
            recorderType: MediaStreamRecorder,
        
            // disable logs
            disableLogs: false,
        
            // get intervals based blobs
            // value in milliseconds
            //timeSlice: 1000,
        
            // requires timeSlice above
            // returns blob via callback function
            //ondataavailable: function(blob) {},
        
            // auto stop recording if camera stops
            checkForInactiveTracks: false,
        
            // requires timeSlice above
            onTimeStamp: function(timestamp) {},
        
            // both for audio and video tracks
            bitsPerSecond: 128000,
        
            // only for audio track
            // ignored when codecs=pcm
            audioBitsPerSecond: 128000,
        
            // if you are recording multiple streams into single file
            // this helps you see what is being recorded
            previewStream: function(stream) {},
        
            // used by StereoAudioRecorder
            // the range 22050 to 96000.
            //recommended lower limit of 32000 for vocal-only
            sampleRate: 32000,
        
            // used by StereoAudioRecorder
            // the range 22050 to 96000.
            desiredSampRate: 32000,
        
            // used by StereoAudioRecorder
            // Legal values are (256, 512, 1024, 2048, 4096, 8192, 16384).
            bufferSize: 1024,
        
            // used by StereoAudioRecorder
            // 1 or 2
            //recommended lower limit of 1 for vocal-only
            numberOfAudioChannels: 2,
        
            // used by WebAssemblyRecorder
            frameRate: 30,
        
            // used by WebAssemblyRecorder
            bitrate: 128000,
        
            // used by MultiStreamRecorder - to access HTMLCanvasElement
            elementClass: 'multi-streams-mixer',
    
        });

        //set hard limit on recording duration for auto-stop
        //this will still execute after .stopRecording() (not good), but it is already taken care of
        recorder.setRecordingDuration(max_recording_duration_ms).onRecordingStopped(recorder_stop);

        recorder.startRecording();

        return true;
    }


    //pause or resume recording
    function recorder_pause_resume(){

        if(recorder.state == 'recording'){

            recorder.pauseRecording();

        }else if(recorder.state == 'paused'){

            recorder.resumeRecording();
        }

        return recorder;
    }


    //ajax upload recorded blob
    async function upload_recorded_media(file){
        //upload
        //var formData = new FormData();
        //formData.append('file', file); // upload "File" object rather than a "Blob"
        //uploadToServer(formData);
    }


    //turn blob into file from recordRTC recording
    async function get_recorder_audio_as_file(){

        //transform blob into file
        let blob, file;

        try{

            blob = recorder.getBlob();
            file = new File([blob], 'this_recording.webm', {
                            type: 'audio/webm'
                        });

            return file;

        }catch(error){

            alert('Could not retrieve recorded audio.');
            console.log(error);
            return false;
        }
    }


    //attach recorded audio file to file input
    async function attach_recorded_audio_to_file_input(file){
        
        //create new container to replace <input type="file"> container later
        let container = new DataTransfer();

        //add
        container.items.add(file);

        //replace files of <input type="file"> with DataTransfer() files
        audio_file_upload.files = container.files;

        return true;
    }


    //attach recorded audio to playback
    async function attach_recorded_audio_to_playback(file){

        //attach file into <audio>
        audio_playback.src = URL.createObjectURL(file);

        audio_playback.onload = function(){
                                    //free the memory
                                    return URL.revokeObjectURL(audio_playback.src);
                                };
    
        return true;
    }


    //stop recording
    async function recorder_stop(){

        //to debug: when user manually .stopRecording(), .onRecordingStopped() still runs
        //progress so far:
        //even though it looks like the problem's here (attempting to read 'state' on null),
        //it may be that somewhere else is accessing recorder unintentionally
        //UPDATE: partially solved, must now find a better place to put destroy()

        if(recorder.state == 'stopped'){
            
            //if triggered by .onRecordingStopped(), do nothing

        }else{

            recorder.stopRecording();
        }

        //get file
        let file = await get_recorder_audio_as_file(recorder);

        //attach recorded audio to file input and playback
        Promise.all(
            [
                await attach_recorded_audio_to_file_input(file),
                await attach_recorded_audio_to_playback(file),
            ]
        ).then((values) => {
            
            //all should be true
            if(values.includes(false)){
                console.log('Something went wrong when trying to attach recorded audio');
            }
        });
        
        submit_recording_btn.disabled = false;
        return true;
    }

    
    //check for file size
    //works with File() and files uploaded through <input type="file">
    function check_file_size_is_valid(file, max_size_mb=max_audio_file_size_mb){

        let file_size_mb = file.size / 1024 **2;

        if(file_size_mb > max_size_mb){

            return false;
        }
        
        return true;
    }

    //handles names with no extension, and names that start with '.', while also being most performant
    function check_file_type_is_valid(file, extensions_allowed=audio_file_extensions_allowed){

        let file_name =  file.name;
        let file_extension = file_name.slice((file_name.lastIndexOf(".") - 1 >>> 0) + 2);

        if(!extensions_allowed.includes(file_extension)){
           
            return false;
        }

        return true;
    }


    //==========EVENTS BELOW==========


    //click to enable recording
    start_recording_btn.addEventListener('click', async function(){

        if(recorder_start()){

            //ok, now enable all recording-related buttons
            pause_resume_recording_btn.textContent = 'PAUSE';
        }
    });


    //click to pause/resume recording
    pause_resume_recording_btn.addEventListener('click', async function(){

        if(recorder_pause_resume()){

            if(recorder.state == 'recording'){

                pause_resume_recording_btn.textContent = 'PAUSE';

            }else if(recorder.state == 'paused'){

                pause_resume_recording_btn.textContent = 'RESUME';
            }
        }
    });


    //click to stop recording
    stop_recording_btn.addEventListener('click', async function(){
        
        if(recorder_stop()){

            start_recording_btn.textContent = 'RECORD AGAIN';
        };
    });


    //on file upload to submit, listen for file size and type
    //note that this is not fired when file is dynamically loaded
    audio_file_upload.addEventListener('change', async function(){

        submit_recording_btn.disabled = true;

        if(audio_file_upload.files.length > 0){
            
            let file = audio_file_upload.files.item(0);
            
            //check file size
            if(!check_file_size_is_valid(file)){

                alert('Uploaded file has exceeded limit of '+max_audio_file_size_mb+'MB!');
                audio_file_upload.value = null;
                return;
            }

            //check file format
            if(!check_file_type_is_valid(file)){

                let temp_string = '';

                for(let x = 0; x < audio_file_extensions_allowed.length; x++){
    
                    temp_string += audio_file_extensions_allowed[x].toUpperCase();
    
                    if(x < audio_file_extensions_allowed.length - 1){
    
                        temp_string += ', ';
                    }
                
                }

                alert('Uploaded file type is not supported. Please use one of the following: '+temp_string);
                audio_file_upload.value = null;
                return;
            }

            //ok
            alert('Success! Uploaded file meets requirements.');
            //attach recorded audio to playback
            await attach_recorded_audio_to_playback(file);
            submit_recording_btn.disabled = false;
        }

    });


    //click to submit recording
    submit_recording_btn.addEventListener('click', async function(event){
        //event.preventDefault();
    })





</script>




{% endblock %}