{% extends 'voicewake/base.html'%}
{% block title %}Seek Events{% endblock %}

{% comment %} use AJAX to call JSON from REST API {% endcomment %}


{% block content %}

<link href= "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
rel="stylesheet" type="text/css" />

<div>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-confirm" name="seek_events">Find Event</button>
        {{form.as_p}}
    </form>
</div>


{% endblock %}