{% extends 'voicewake/base.html'%}
{% block title %}voicewake.com - {{originator_event.event_room.event_room_name}}{% endblock %}

{% block content %}

    {% csrf_token %}

    <!--
        use id to get to when-created element
        we load '1 Jan 2022' here first, then at JS we make it pretty to '1 century ago'
        shouldn't have to adjust '1 Jan 2022' to local timezone, as it's only for SEO
    -->
    <div
        data-event-room-id="{{originator_event.event_room.id}}"
        data-event-id="{{originator_event.id}}"
        data-when-created="{{originator_event.when_created|date:"Y-m-d H:i:s"}}"
        class="event-room text-theme-black"
    >

        <!--possible page title-->
        {% if is_this_user_replying %}
            <div class="w-fit h-fit pt-7 pb-7 text-4xl font-light text-theme-black">
                <span>Replying to...</span>
            </div>
        {% else %}
            <div class="h-0 pb-7"></div>
        {% endif %}

        <!--title-->
        {% if is_deleted %}
            <div class="h-fit pb-4">
                <p class="text-2xl font-light italic">
                    deleted
                </p>
            </div>
        {% else %}
            <div class="h-fit pb-4">
                <!--title from user 1-->
                <p class="text-2xl break-words">
                    {{originator_event.event_room.event_room_name}}
                </p>
                <!--last updated-->
                <p class="when-created      text-base font-light">
                    {{originator_event.when_created|date:"j M Y"}}
                </p>
            </div>
        {% endif %}

        <!--the rest of the content-->
        <div id="get-event-rooms-app"></div>
    </div>

{% endblock %}