{% extends 'voicewake/base.html'%}
{% block title %}voicewake.com - {{event_room.event_room_name}}{% endblock %}

{% block content %}

    {% csrf_token %}

    <!--
        use id to get to when-created element
        we load '1 Jan 2022' here first, then at JS we make it pretty to '1 century ago'
        shouldn't have to adjust '1 Jan 2022' to local timezone, as it's only for SEO
    -->
    <div
        data-event-room-id="{{event_room.id}}"
        data-is-deleted="{{is_deleted_json}}"
        data-when-created="{{event_room.when_created|date:"Y-m-d H:i:s"}}"
        data-event-count="{{event_count}}"
        data-is-this-user-replying="{{is_this_user_replying}}"
        class="text-theme-black"
        id="get-event-room"
    >

        <!--same as VTitleL-->
        <div class="h-fit py-8 text-theme-black">
            {% if is_deleted %}
                <p class="text-2xl font-light italic">
                    This post has been deleted
                </p>
            {% else %}
                <!--title-->
                <p class="text-2xl font-light break-words">
                    {{event_room.event_room_name}}
                </p>
                <!--last updated-->
                <p class="when-created      text-base font-light">
                    {{when_created|date:"j M Y"}}
                </p>
            {% endif %}
        </div>

        <!--the rest of the content-->
        <div id="get-event-rooms-app"></div>
    </div>

{% endblock %}