{% extends 'voicewake/base.html'%}
{% block title %}voicewake.com - {{originator_event.event_room.event_room_name}}{% endblock %}

{% block content %}

    {% csrf_token %}

    <!--
        use id to get to when-created element
        we load '1 Jan 2022' here first, then at JS we make it pretty to '1 century ago'
        shouldn't have to adjust '1 Jan 2022' to local timezone, as it's only for SEO
    -->
    <div
        data-event-room-id="{{originator_event.event_room.id}}"
        data-event-id="{{originator_event.id}}"
        data-when-created="{{originator_event.when_created|date:"Y-m-d H:i:s"}}"
        data-is-this-user-replying="{{is_this_user_replying}}"
        class="text-theme-black"
        id="get-event-room"
    >

        <!--page title if user is replying-->
        <div
            id="is-replying-page-title"
            class="w-fit h-fit pt-7 text-4xl font-light text-theme-black opacity-0 hidden"
        >
            <span>Replying to...</span>
        </div>

        <!--title-->
        <div class="h-fit pt-7 pb-7">
            {% if is_deleted %}
                <p class="text-2xl font-light italic">
                    deleted
                </p>
            {% else %}
                <!--title from user 1-->
                <p class="text-2xl break-words">
                    {{originator_event.event_room.event_room_name}}
                </p>
                <!--last updated-->
                <p class="when-created      text-base font-light">
                    {{originator_event.when_created|date:"j M Y"}}
                </p>
            {% endif %}
        </div>

        <!--the rest of the content-->
        <div id="get-event-rooms-app"></div>
    </div>

{% endblock %}