{% extends 'voicewake/base.html'%}

{% block extra_head %}
    <title>
        VoiceWake - Reply
    </title>
    <meta name="description" content="Search for random recordings to reply to. Replying completes the event.">
{% endblock %}

{% block content %}

    <div
        data-event-room-reply-choice-expiry-seconds="{{event_room_reply_choice_expiry_seconds}}"
        data-event-room-reply-expiry-seconds="{{event_room_reply_expiry_seconds}}"
        id="data-container-list-event-room-choices"
    >

        <div id="list-event-room-choices-app"></div>
    </div>
{% endblock %}