SECRET_KEY =
MAINTENANCE_MODE = 0
VERSION = 1.0.0

BASE_URL = http://127.0.0.1:8000

IS_EC2 = 0

DB_NAME = voicewake
DB_USER = postgres
DB_PASSWORD = localhost
DB_HOST = localhost
DB_PORT = 5432

REDIS_ENDPOINT = redis://127.0.0.1:6379

EMAIL_HOST_USER = example@gmail.com
EMAIL_HOST_PASSWORD = abc
EMAIL_PORT = 465

#S3
#credentials can be omitted in EC2 that has IAM role set up
AWS_S3_ACCESS_KEY_ID =
AWS_S3_SECRET_ACCESS_KEY =
AWS_S3_REGION_NAME = us-east-1
AWS_S3_CUSTOM_DOMAIN = abc.cloudfront.net
AWS_S3_STATIC_BUCKET_NAME =
AWS_S3_MEDIA_BUCKET_NAME =
AWS_S3_UGC_UNPROCESSED_BUCKET_NAME =

#Lambda
#credentials can be omitted in EC2 that has IAM role set up
AWS_LAMBDA_ACCESS_KEY_ID =
AWS_LAMBDA_SECRET_ACCESS_KEY =
AWS_LAMBDA_REGION_NAME = us-east-1
AWS_LAMBDA_NORMALISE_FUNCTION_NAME = normalise_audio_clips

#custom AWS values
#3.81mb
AWS_S3_AUDIO_FILE_MAX_SIZE_B = 4000000
#10 minutes
AWS_S3_UPLOAD_URL_EXPIRY_S = 600
AWS_LAMBDA_NORMALISE_TIMEOUT_S = 30

#normalise lambda environment variables
AUDIO_CLIP_PROCESSED_FILE_EXTENSION = mp3
