SECRET_KEY =
MAINTENANCE_MODE = 0

BASE_URL = http://127.0.0.1:8000

DB_NAME = voicewake
DB_USER = postgres
DB_PASSWORD = localhost
DB_HOST = localhost
DB_PORT = 5432

REDIS_ENDPOINT = redis://127.0.0.1:6379

EMAIL_HOST_USER = example@gmail.com
EMAIL_HOST_PASSWORD = abc
EMAIL_PORT = 465

AWS_S3_CUSTOM_DOMAIN = abc.cloudfront.net
AWS_STORAGE_BUCKET_NAME = 
AWS_S3_REGION_NAME = us-east-1

#at EC2, with IAM role set up, these can be omitted when EC2 <--> S3
AWS_S3_ACCESS_KEY_ID =
AWS_S3_SECRET_ACCESS_KEY =