#dev/stage/prod
CURRENT_ENV=dev

#tell Django which settings to use
#whether it's Django/Celery/CeleryBeat/GUnicorn/runserver, they all use Django
#hence, all of them will raise error if file does not exist, or if this variable is missing from environment
#this is a lot better than setting os.environ.setdefault() at files or using --settings at commands
#no spaces between equal signs
#for env in AWS ECS, spaces and quotation marks are included in env var value
#but command in container complains that env is not set when using spaces, e.g. SOME_ENV = SOME_VAR
DJANGO_SETTINGS_MODULE=

#do not put trailing comas such as "*,", else empty string is produced and passed in
#NGINX upstream names seem required here, as it is sometimes passed as Host header
ALLOWED_HOSTS=main,localhost,127.0.0.1

LOCKDOWN_ENABLED=0
LOCKDOWN_PASSWORD=

SECRET_KEY=
MAINTENANCE_MODE=0
STATIC_CACHE_BUST_VERSION=1.0.0

#when true, omits access_key_id and secret_access_key when calling boto3.client() in our APIs
#boto3 will automatically find these credentials once you have IAM role attached to the AWS instance running our server
#update: lazy to find out why IS_EC2=1 does not work in ECS, while IS_EC2=0 is fine since we have credentials in this file
IS_EC2=0

#for dev, as db is in another container, use container name specified in compose.yaml for DB_HOST
#for AWS RDS, one postgres RDS instance can have many databases inside
#if not specified at "AWS RDS > new db > Additional Configurations > initial databse name", then DB_NAME "postgres"
#if not specified at "AWS RDS > new db > master username", then DB_USER is "postgres"
#remove (' " $) for easier time with passwords in linux
DB_HOST=postgres
DB_NAME=voicewake
DB_USER=postgres
DB_PASSWORD=localhost
DB_PORT=5432

#we are not customising redis.conf file, as we already have .env separations for different environments
#must add "redis://host_name", else it defaults to ampq
#must exclude ":6379", as it will be automatically inserted based on redis/ampq, and the ":" will be undesirably escaped when retrieved by Redis
REDIS_ENDPOINT=redis://redis
#how long the audio clip processing updates should stay on Redis
#60*60*24*days(8)
REDIS_AUDIO_CLIP_PROCESSING_CACHE_EXPIRY_S=691200
REDIS_AUDIO_CLIP_PROCESSING_CACHE_LAST_SYNC_FROM_DB_MIN_S=600

#created from SES SMTP credentials, which results in an IAM user
#unique to the AWS region that it is created from
#get host from SMTP settings --> SMTP endpoint
#FROM email must be "xyz@abc.com", not "abc.com", not "@abc.com"
#for FROM_EMAIL, doing it as such will show "VoiceWake" as sender, instead of "noreply" if the env value is simply the email
AWS_SES_HOST=email-smtp.us-east-1.amazonaws.com
AWS_SES_SMTP_USER_NAME=
AWS_SES_SMTP_PASSWORD=
AWS_SES_FROM_EMAIL=VoiceWake <noreply@voicewake.com>
AWS_SES_IAM_USER_NAME=

#S3
#credentials can be omitted in EC2 that has IAM role set up
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION_NAME=us-east-1
AWS_S3_CUSTOM_DOMAIN=abc.cloudfront.net
AWS_S3_MAIN_BUCKET_NAME=
AWS_S3_STATIC_BUCKET_NAME=
AWS_S3_MEDIA_BUCKET_NAME=
AWS_S3_UGC_UNPROCESSED_BUCKET_NAME=

#Lambda
#credentials can be omitted in EC2 that has IAM role set up
AWS_LAMBDA_ACCESS_KEY_ID=
AWS_LAMBDA_SECRET_ACCESS_KEY=
AWS_LAMBDA_REGION_NAME=us-east-1
AWS_LAMBDA_NORMALISE_FUNCTION_NAME=normalise_audio_clips

#CloudWatch
#needed because even print(flush=True) and PYTHONBUFFERED=1 would not make print() show up in CloudWatch
AWS_CLOUDWATCH_ACCESS_KEY_ID=
AWS_CLOUDWATCH_SECRET_ACCESS_KEY=
AWS_CLOUDWATCH_REGION_NAME=us-east-1
AWS_CLOUDWATCH_LOG_GROUP=vw_example
USE_CLOUDWATCH=0

#custom AWS values
#1.85mb for 120s of audio at "audio/webm;codec=opus"
#we settle at 2.5mb to be safe
#2621440=1024 * 1024 * 2.5
AWS_S3_AUDIO_FILE_MAX_SIZE_B=2700000
#10 minutes
AWS_S3_UPLOAD_URL_EXPIRY_S=600

#normalise lambda environment variables
AWS_LAMBDA_NORMALISE_TIMEOUT_S=60
AUDIO_CLIP_PROCESSED_FILE_EXTENSION=mp3

#AWS ECR
#use this role assume for no-credential ECR pushing at github actions
AWS_ECR_ROLE_TO_ASSUME=arn:aws:iam::x:role/x
AWS_ECR_REGION_NAME=us-east-1
AWS_ECR_ACCOUNT_ID=
AWS_ECR_DOCKER_COMPOSE_NAME=vw
#use this to choose image tag to pull from via docker-compose-ec2.yaml
AWS_ECR_EC2_IMAGE_TAG=28

#Vite, dev only
#need this here as source for both Vite and Django dev
VITE_PORT=5173

#performance
BULK_CREATE_BATCH_SIZE=100
BULK_UPDATE_BATCH_SIZE=100

#HTTP
#2 days
HTTP_CACHE_CONTROL_MAX_AGE=172800

#NGINX
FAVICON_URL=https://xxx.cloudfront.net/static/voicewake/favicon.svg
#runserver: django_runserver, 8000
#gunicorn: django_gunicorn, 5000
DJANGO_SERVICE_NAME=django_runserver
DJANGO_PORT=8000